// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*{
    color: #adadad;
}

ion-slide {
    background-color: map-get($colors, background);
}

.no-scroll .scroll-content{
    overflow: hidden;
    padding: 0;
}

.homeIcon {
    width: 300px;
    height: 300px;
    background: transparent;
}

.iconApp {
    font-size: 50px;
}

ion-col {
    width: 50%;
}

.page-menu {
    width: 100%;
    height: 100%;
}

ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }

    &[class*="custom-bottle"] {
        mask-image: url(../assets/bottle.svg);
    }

    &[class*="custom-g"] {
        mask-image: url(../assets/g0.svg);
    }
    &[class*="custom-g1"] {
        mask-image: url(../assets/g1.svg);
    }
    &[class*="custom-g2"] {
        mask-image: url(../assets/g2.svg);
    }
    &[class*="custom-g3"] {
        mask-image: url(../assets/g3.svg);
    }
    &[class*="custom-g4"] {
        mask-image: url(../assets/g4.svg);
    }
    &[class*="custom-g5"] {
        mask-image: url(../assets/g5.svg);
    }
    &[class*="custom-g6"] {
        mask-image: url(../assets/g6.svg);
    }
    &[class*="custom-g7"] {
        mask-image: url(../assets/g7.svg);
    }
    &[class*="custom-g8"] {
        mask-image: url(../assets/g8.svg);
    }

}


.text-input {
    text-align: center;
}

.icoSend {
    margin: 13px;
}

.top {
    vertical-align: top;
}

.onOff {
    margin-top: 0.5px;
}


#cg {
    width: 200px;
    height: 260px;
    position:absolute;
    z-index: 10;
    pointer-events:none;
    margin: 0 8px;
}

.col .glassfill {
    width: 216px;
    height: 32px;
    position:relative;
    z-index:1;
    vertical-align: middle;
    padding: 5px;
}

#glassZone {
    height: 290px;
}
